/* 
just a little bit of custom styling

*/


.navbar{

    z-index:99;

}

body{

    padding-top: 8em;

}

.sliderFade {

    animation:fade 0.5s ease;

}

.sliderThumb, .sliderMainImage{

    cursor:pointer;

}

@KeyFrames Fade{

    0%{opacity:0;}
    100%{opacity:1;}

}



.card{
	width: 100%;
	margin: 2px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}



